#if __has_include(".Xresources.d/theme.xdefaults")
#include ".Xresources.d/theme.xdefaults"
#endif

! Any per-system, i.e. local customizations such as DPI, etc.
#if __has_include(".Xresources.d/local.xdefaults")
#include ".Xresources.d/local.xdefaults"
#endif

Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: full
Xft.lcdfilter: lcddefault
